<div class="flex head-section">
    <div class="flex head-section-label">Symptom Match</div>
    <div class="flex">
        <mat-form-field>
            <mat-label>Symptom</mat-label>
            <input 
            [(ngModel)]="symptomInput" 
            matInput type="text" 
            placeholder="Low Mood..." 
            (keydown.enter)="addSymptomByInput()"
            (input)="onSymptomInputChange($event)" [matAutocomplete]="symptomAutoComplete">
            <mat-autocomplete #symptomAutoComplete="matAutocomplete" (optionSelected)="symptomSelected($event)">
                <!-- If these options are empty, the autocomplete will not show -->
                <mat-option *ngFor="let symptom of filteredSymptoms;" [value]="symptom">{{symptom.name}}
                    <mat-icon class="already-search-item-icon" *ngIf="!(symptomsToSearch.indexOf(symptom) < 0)">done</mat-icon>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>
<div class="search">
    <div>
        <div class="search-header">Symptoms</div>
        <div class="search-list hide-scroll">
            <app-symptom-card *ngFor="let symptom of symptomsToSearch;"
                [symptom]="symptom"
                (removeSymptomClick)="removeSymptom(symptom)">
            </app-symptom-card>
        </div>
    </div>
    <div>
        <div class="search-header">Possible Diagnoses</div>
        <div class="search-list hide-scroll">
            <div class="search-list-item" *ngFor="let diagnosis of diagnoses;">
                {{ diagnosis.name }}
            </div>
        </div>
    </div>
</div>