<div class="flex head-section">
    <div class="flex head-section-label">Symptom Match</div>
    <div class="flex">
        <mat-form-field>
            <mat-label>Symptom</mat-label>
            <input 
            [(ngModel)]="symptomInput" 
            matInput type="text" 
            placeholder="ex. Low Mood..." 
            (keydown.enter)="addSymptomByInput()"
            (input)="onSymptomInputChange($event)" [matAutocomplete]="symptomAutoComplete">
            <mat-autocomplete #symptomAutoComplete="matAutocomplete" (optionSelected)="symptomSelected($event)">
                <!-- If these options are empty, the autocomplete will not show -->
                <mat-option *ngFor="let symptom of filteredSymptoms;" [value]="symptom">{{symptom.name}}
                    <mat-icon class="already-search-item-icon" *ngIf="!(symptomsToSearch.indexOf(symptom) < 0)">done</mat-icon>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>
<div class="search">
    <div class="flex-column-container">
        <h3>Symptoms</h3>
        <div class="search-list hide-scroll">
            <app-symptom-card *ngFor="let symptom of symptomsToSearch;"
                [symptom]="symptom"
                (removeSymptomClick)="removeSymptom(symptom)">
            </app-symptom-card>
        </div>
    </div>
    <div class="flex-gap flex-row-container"></div>
    <div class="flex-column-container">
        <h3>Possible Diagnoses</h3>
        <div class="search-list hide-scroll">
            <ng-container *ngIf="symptomsToSearch.length > 0">
                <ng-container *ngIf="diagnoses$| async as diagnoses  else loadingBlock">
                    <app-diagnosis-card *ngFor="let diagnosis of diagnoses;" [diagnosis]="diagnosis">
                    </app-diagnosis-card>
                </ng-container>
                <ng-template #loadingBlock>
                    <mat-spinner color="accent"></mat-spinner>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>