<app-titlebar (onNurseClick)="drawer.toggle()" class="header"></app-titlebar>
<div class="middle">
    <mat-drawer-container class="nav">
        <mat-drawer #drawer mode="side" opened="true">
            <app-sidenav ></app-sidenav>
        </mat-drawer>
    </mat-drawer-container>
    <div class="content">
        <div class="main">
            <mat-card>
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </div>
</div>
<app-footer class="footer"></app-footer>