@import '../../../../../custom-theme.scss';

$accent: map-get($SymptomScoutWeb-theme, "accent");
$accentContrast: map-get($accent, "contrast");

div.content {
    display: flex;
    height: 60px;

    background-color: map-get($accent, 900);
    color: map-get($accentContrast, 900);

    align-items: center;
    justify-content: center;

    font-size: 12px;
} 