<div class="flex head-section">
    <div class="flex head-section-label">Symptoms</div>
    <div class="flex">
        <mat-form-field>
            <mat-label>Symptom</mat-label>
            <input 
            [(ngModel)]="symptomInput" 
            matInput type="text" 
            placeholder="Low Mood..." 
            (keydown.enter)="updateFilteredSymptoms()"
            (input)="onSymptomInputChange($event)">
        </mat-form-field>
    </div>
</div>
<div class="search">
    <div>
        <div class="search-list">
            <app-symptom-card [symptom]="symptom" [disableRemoveSymptom]="true" *ngFor="let symptom of filteredSymptoms"></app-symptom-card>
        </div>
    </div>
</div>