<div class="flex head-section">
    <div class="flex head-section-label">Symptoms</div>
    <div class="flex flex-center">
        <mat-form-field>
            <mat-label>Symptom</mat-label>
            <input 
            [(ngModel)]="symptomInput" 
            matInput type="text" 
            placeholder="Low Mood..." 
            (keydown.enter)="updateFilteredSymptoms()"
            (input)="onSymptomInputChange($event)">
        </mat-form-field>
    </div>
</div>
<div class="search">
    <div>
        <div class="search-list">
            <ng-container *ngIf="symptoms$ | async as symptoms; else loadingSpinner">
                <ng-container *ngFor="let symptom of symptoms">
                    <app-symptom-card 
                    *ngIf="symptom.name.toLowerCase().includes(symptomInput.toLowerCase())" 
                    [symptom]="symptom" [disableRemoveSymptom]="true">
                </app-symptom-card>
                </ng-container>
            </ng-container>
            <ng-template #loadingSpinner>
                <mat-spinner color="accent"></mat-spinner>
            </ng-template>
        </div>
    </div>
</div>