<ng-container *ngIf="diagnosis$ | async as diagnosis; else loadingBlock">
    <div class="flex-column-container flex-grow">
        <!-- Heading -->
        <div class="heading-section-label flex-grow">
            {{ diagnosis.name }}
        </div>
        <div class="flex-gap flex-row-container flex-grow content">
            <!-- Description -->
            <div class="flex-column-container">
                <h3>Description</h3>
                <div class="description flex-grow mat-elevation-z2">
                    {{ diagnosis.description }}
                </div>
            </div>
            <!-- Symptoms -->
            <div class="flex-column-container">
                <h3>Symptoms</h3>
                <div class="list hide-scroll">
                    <app-symptom-card [disableRemoveSymptom]="true" [symptom]="diagnosisSymptom" *ngFor="let diagnosisSymptom of diagnosis.symptoms;">
                    </app-symptom-card>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadingBlock>
    <div class="flex-column-container flex-grow flex-center">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-template>