<div class="flex head-section">
    <div class="flex head-section-label">Diagnoses</div>
    <div class="flex flex-center">
        <mat-form-field>
            <mat-label>Diagnosis</mat-label>
            <input 
            [(ngModel)]="diagnosesInput" 
            matInput type="text" 
            placeholder="Anxiety..." 
            (keydown.enter)="updateFilteredDiagnoses()"
            (input)="onDiagnosisInputChange($event)">
        </mat-form-field>
    </div>
</div>
<div class="search">
    <div>
        <div class="search-list">
            <ng-container *ngIf="diagnoses$ | async as diagnoses; else loadingSpinner">
                <ng-container *ngFor="let diagnosis of diagnoses">
                    <app-diagnosis-card 
                    *ngIf="diagnosis.name.toLowerCase().includes(diagnosesInput.toLowerCase())" 
                    [diagnosis]="diagnosis" >
                </app-diagnosis-card>
                </ng-container>
            </ng-container>
            <ng-template #loadingSpinner>
                <mat-spinner color="accent"></mat-spinner>
            </ng-template>
        </div>
    </div>
</div>