<div class="flex head-section">
    <div class="flex head-section-label">Diagnoses</div>
    <div class="flex">
        <mat-form-field>
            <mat-label>Diagnosis</mat-label>
            <input 
            [(ngModel)]="diagnosesInput" 
            matInput type="text" 
            placeholder="Anxiety..." 
            (keydown.enter)="updateFilteredDiagnoses()"
            (input)="onDiagnosisInputChange($event)">
        </mat-form-field>
    </div>
</div>
<div class="search">
    <div>
        <div class="search-header">Diagnoses</div>
        <div class="search-list">
            <app-diagnosis-card [diagnosis]="diagnosis" *ngFor="let diagnosis of filteredDiagnoses"></app-diagnosis-card>
        </div>
    </div>
</div>